/* TIP: think about how the spaces are contained! */
/* css variables */
:root {
    --grid-opacity: 0.55;
}

body {
    display: block;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: black;
    background-color: white;
}

/* Site Navigation */

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin: 23px 0px 0px 0px;
    
}

a:hover {
    text-decoration: underline;
}

.no-decoration {
    text-decoration: none;
}

.left-side-links {
    color: black; /* defines link color */
    padding-right: 15px; /* spacing between links */
    opacity: 0.75;
}

.right-side-links {
    color: black;
    padding-right: 10px;
    opacity: 0.87;
}

.links-to-the-left {
    width: 200px;
    height: 40px;
    align-self: flex-start;
    margin-left: 17px;
}

.empty-middle-space {
    width: 100%;
    height: 40px;
}

.links-to-the-right {
    margin-right: 0px;
    width: 257px;
    height: 40px;
    display: flex;
}

.gmail-images-shape {
    width: 111px;
    height: 40px;
}

.flex-grid {
    width: 25px;
    height: 40px;
}

.a-grid {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    gap: 2px;
}

.grid-color:hover {
    --grid-opacity: 1.0;
}

.cell-color {
    opacity: var(--grid-opacity, 0.55);
    background-color: #000;
}

.gmail-letter-box {
    height: 40px;
    width: 40px;
    /* position: relative; */
    margin-top: -8px;
    margin-left: 10px;
}

.gmail-letter {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border-color: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}


/* Main Content */

main {
    
    width: 100%;
    height: 500px;

}

.google-logo-container {
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.google-logo {
    margin-right: 5px;
    width: 500px;
    height: 200px;
}

.text-box-flex-container {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.text-box-border-container {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 600px;
}
/* edit here */
.magnifying-glass-container {
    display: flex;
    flex-direction: row;
    /* centers magnifying glass in container */
    align-items: center;
    height: 44px;
    width: 20px;
    margin-left: 15px;
    margin-right: 12px;
}

.magnifying-glass {
    width: 15px;
    height: 15px;
}

.input {
    width: 100%;
    height: 44px;
    background-color: transparent;
    border-style: none;
    outline: none;
}

.input:focus {
    outline: none;
    font-size: 16px;
}

.microphone-container {
    display: flex;
    flex-direction: row;
    /* centers microphone in container */
    align-items: center;
    height: 44px;
    width: 20px;
    margin-left: 15px;
    margin-right: 12px;
}

.microphone {
    width: 14px;
    height: 20px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    width: 400px;
    height: 40px;
}

.google-search-container {
    width: 127.41px;
    height: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 12px;

    cursor: pointer;
}

.i-am-feeling-lucky-search-container {
    width: 142.5px;
    height: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.google-search {
    border-color: transparent;
    border-style: none;
    background-color: transparent;
    color: #5F6368;
    font-size: 14px;
    cursor: pointer;
}

.i-am-feeling-lucky {
    border-color: transparent;
    border-style: none;
    background-color: transparent;
    color: #5F6368;
    font-size: 14px;
    cursor: pointer;
}

.i-am-feeling-lucky:focus {
    outline: none;
    
}

.google-search:focus {
    outline: none;
}

.google-search-container:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}

.i-am-feeling-lucky-search-container:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}

.google-search-container:active {
    border: 1px solid #4d90fe;
}

.i-am-feeling-lucky-search-container:active {
    border: 1px solid #4d90fe;
}

.corona-virus-container {
    margin-top: 18px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corona-image-container {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.do-the-five-container {
    margin-left: 5px;
    height: 45px;
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corona-image {
    width: 45px;
    height: 45px;
}

/* Site Footer */

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

.footer-link {
    color: #5f6368;
    padding-left: 27px;
    font-size: 14px;
}

.footer-container {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-links-to-the-left {
    margin-left: 3px;
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.advertising {
    height: 40px;
    width: 96.27px;
}

.business {
    height: 40px;
    width: 83.81px;
}

.how-search-works {
    height: 40px;
    width: 143.7px;
}

.footer-links-to-the-right {
    margin-right: 30px;
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.privacy {
    height: 40px;
    width: 72.91px;
}

.terms {
    height: 40px;
    width: 65.13px;
}

.settings {
    height: 40px;
    width: 77.59px;
}