/* I used chrome's development tools to watch how
Google's content changed size depending on the device used
to access Google's home page. I emulated multiple screen sizes */
:root {
    --grid-opacity: 0.55;
}
body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: black;
    background-color: white;
}

nav {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 23px 0px 0px 0px;
    flex-direction: row;
    
    
}

.left-side-links {
    text-decoration: none;
    color: black;
    padding-right: 15px;
    opacity: 0.75;
}

.right-side-links {
    padding-right: 12px;
    opacity: 0.87;
}

a:hover {
    text-decoration: underline;
}

/* TIP: think about how the spaces are contained! */

.links-to-the-left {
    width: 200px;
    height: 40px;
    align-self: flex-start;
    /* let's make the height as big as the container to 
    keep anything from spilling out and make the width
    a set link to store the space I want for my links */
    margin-left: 17px;
}

.empty-middle-space {
    /* let's make this equal to all the empty space between
    left and right links. Make the height equal to container and
    make the width equal to the space I want in between
    the left and right sides. Should I make the width grow between
    the space to make it even every time for device width? */
    width: 100%;
    height: 40px;
}

.links-to-the-right {
    width: 257px;
    height: 40px;
    display: flex;
    /* let's do the same thing over here just like I did with
    links to the left by filling in the width and height! */
    /* margin-left: x pixels away from middle space */
    
}

.gmail-images-shape {
    width: 114px;
    height: 40px;
}

.flex-grid {
    width: 25px;
    height: 40px;
}

.a-grid {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    gap: 2px;
}

.grid-color:hover {
    --grid-opacity: 1.0;
}

.cell-color {
    opacity: var(--grid-opacity, 0.55);
    background-color: #000;
}

.gmail-letter-box {
    height: 40px;
    width: 40px;
    position: relative;
    margin-top: -10px;
    margin-left: 10px;
}

.gmail-letter {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border-color: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}

/* Now for the fun picture and for making more stuff! I took my time
to make everything look pretty similar to Google! */

.google-logo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    /* needs to be edited */
}

.google-logo {
    width: auto;
    height: auto;
}

main {

}

footer {

}